@import url('./font-awesome/css/font-awesome.min.css');
@import url("./fontello/css/fontello.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    overflow-x: hidden;
}

p {
    color: #fff;
}

li {
    list-style: none;
    display: inline;
}

a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
}

h1 {
    font-size: 90px;
    color: #fff;
}

header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
}

img {
    display: inline-block;
    max-width: 100%;
}

.container {
    padding: 80px 0px;
}

.row {
    width: 90%;
    display: flex;
    justify-content: space-between;
    max-width: 1020px;
    margin: 0 auto;
}

.menu-list li {
    font-weight: bold;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
}

.menu-list li a {
    padding: 8px 15px;
}


.burger-icon {
    display: none;
    width: 30px;
    position: fixed;
    top: 1%;
    right: 5%;
}

.burger-icon li{
    border-top: 3px solid;
    color: #fff;
    display: block;
    margin: 5px 0px;
    transition: all 1s ease-out;
}

.banner {
    background: url('../images/highway.jpg') no-repeat;
    background-size: cover;
    text-align: center;
    height: 100vh;
    min-height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-content {
    margin: 0 auto;
    width: 80%;
}

.banner-content p {
    color: #FFEB3B;
    font: 25px 'librebaskerville-regular', serif;
    line-height: 35px;
    margin: 0 auto;
    padding: 35px 0px;
    width: 80%;
}

.hightlights {
    color: #fff;
}

hr {
    width: 60%;
    color: #ccc;
    margin: 0 auto;
}

.media {
    font-size: 30px;
    margin: 0 auto;
    padding: 24px 0px;
    width: 70%;
}

.media li {
    margin: 0 15px;
}

.media li a i {
    transition: color 0.5s;
}

.media li a:hover {
    color: rgb(59, 183, 255);
}

.arrow {
    position: relative;
    top: 100px;
    font-size: 40px;
}

.arrow a i {
    transition: color 0.5s;
}

.arrow a:hover {
    color: rgb(59, 183, 255);
}

.left-content {
    width: 25%;
}

.left-content img {
    border-radius: 50%;
    width: auto;
    height: 145px;
    margin-bottom: 20px;
}

.left-content h3 span {
    border-bottom: 3px solid #11ABB0;
    font-family: candara;
    letter-spacing: 3px;
    margin-bottom: 5px;
}

.right-content {
    width: 75%;
    padding: 0 2%;
}

.about {
    background-color:#2B2B2B;
}

.about-content {
    color: #000;
}

.about h2{
    color: #fff;
    text-align: left;
}
.header-text {
    margin-bottom: 9px;
    font-family: Consolas;
    font-size: 1.6rem;
}

.about p {
    color: #7A7A7A;
}
.content {
    text-align: left;
}
.content, .address {
    margin-bottom: 30px;
    line-height: 30px;
    text-align: left;
}

.btn {
    color: #000;
}

.contact {
    display: flex;
}

.contact a {
    background-color: #444;
    border-radius: 5px; 
    height: 47px;
    text-align: center;
    padding: 14px 15px;
}

.contact a i {
    margin-right: 5px;
}

.contact div{
    width: 40%;
}

/*EDUCATION*/

.education p {
    color: #838C95;
}

.row-item p:nth-child(2) {
    font-family: corbel;
    margin-bottom: 20px;
    color: #6E7881;
}

.borderHr {
    margin-bottom: 40px;
}

/* skills*/

.skills h4 {
    font-family: Arial Unicode MS Regular;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.skills {
    text-align: left;
}

.skills p {
    width: 100%;
    height: 35px;
    background-color: #ccc;
}

.skills p span {
    display: inline-block;
    background-color: #313131;
    height: 100%;
    transition: width 1s ease;
}

.skills:nth-child(1) p span{
   width: 20%;
}

.skills:nth-child(2) p span{
    width: 50%;
 }

 .skills:nth-child(3) p span{
    width: 70%;
 }

 .skills:nth-child(4) p span{
    width: 20%;
 }

 /*works*/

.works {
    background-color: #ebeeee;
}

.works h4 {
    color: #95A3A3;
    text-align: center;
    margin-bottom: 2rem;
}

.works .row {
    flex-wrap: wrap;
}

.work-products {
    width: 23%;
    margin-bottom: 22px;
}

/*unde*/

.unde {
    color: #fff;
    background-color: #212121;
}

.unde .row {
    justify-content: start;
}

.unde .row .left-content {
    width: 15%;
}

.unde .row .left-content img {
    height: 70px;
}

.unde .row .left-content h4 {
    display: none;
}

.unde .row .left-content p {
    display: none;
}

.unde .row .right-content {    
    width: 56%;
}

.unde .row .right-content h1, p{
    color: #D8D8D8;
    font-family: Lucida Sans;
}

.unde .row .right-content p {
    font-size: 15px;
}

/*testimonials*/

.testimonials {
    background-image: url('../images/testimonials-bg.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.testimonials p {
    font-size: 1.2rem;
    font-family: Lucida Calligraphy;
    line-height: 35px;
    letter-spacing: 1px;
}

.testimonials .row {
    justify-content: start;
}
.testimonials .row .left-content {
    width: 15%;
}
.testimonials .row .left-content img {
    height: 70px;
}

.testimonials .row .right-content p span {
    display: block;
    font-size: 1rem;
}
.testimonials .row .left-content h4 {
    display: none;
}

/*contactUs*/

.contactUs {
    background-color: #191919;
    color: #636363;
}

.contactUs .row {
    justify-content: start;
}
.contactUs .row .left-content {
    width: 15%;
}
.contactUs .row .left-content img {
    height: 70px;
}

.contactUs .row .left-content h4 {
    display: none;
}

.contactUs .row .right-content p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    font-weight: lighter;
    line-height: 35px;
    margin-bottom: 50px;
}

/*form*/
form {
    width: 70%;
    padding-bottom: 30px;
}

form div {
    display: flex;
    margin-bottom: 40px;
}

label {
    width: 25%;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 20px;
}

label span {
    color: #11ABB0;
}

label:nth-child(4) {
    width: 26%;
}

input, textarea {
    background-color: #373233;
    border: none;
    width: 60%;
    height: 60px;
}

textarea {
    height: 210px;
}

button {
    background-color: #000;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    letter-spacing: 3px;
    margin-left: 25%;
    padding: 12px 20px;
    transition: background-color 0.5s ease, color 0.5s ease;
}

button:hover {
    background-color: #fff;
    color: #000;
}

 aside {
     width: 30%;
 }
 
aside h4{
    color: #fff;
    font-size: 1.2rem !important;
    font-family: Arial, Helvetica, sans-serif !important;
    margin-bottom: 9px;
}

aside p {
    color: #827b7d;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 25px;
    margin-bottom: 10px;
}

.tweet-content {
    margin: 23px 0px;
}

.tweet-text a {
    color: #11ABB0;
    transition: color 1s ease;
}

.tweet-text a:hover {
    color: #fff;
}

.tweet-content a:nth-child(2) {
    color: #827b7d;
    font-size: 11px;
    margin: 5px 0;
}

footer {
    background-color: #0f0f0f; 
    color: #525252;
    position: relative;
}
.up-arrow a {
    color: #fff;
}

footer a {
    color: #525252;
}

.up-arrow {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 1px solid;
    border-radius: 50%;
    margin: 0 auto;
    position: absolute;
    top: -10%;
    left: 49%;
    transform: translate(-49%, 10%);
    background: #525252;
}

.social-media {
    color: #525252;
    margin: 0 auto;
    text-align: center;
    width: 80%;
}

.social-media p {
    color: #525252;
}

@media (max-width: 1180px) {
    .menu-list li {
        font-size: 25px;
    }
    .banner-content p {
        font-size: 27px;
    }
}

@media (max-width: 980px){
    .menu-list li {
        font-size: 20px;
    }

    h1 {
        font-size: 70px;
    }
    .banner-content p {
        font-size: 25px;
    }
}

@media (max-width: 768px){
    .menu-list{
        display: block;
    }

    .menu-list li {
        font-size: 20px;
    }

    h1 {
        font-size: 60px;
    }

    .banner-content p {
        font-size: 22px;
    }

    .media {
        font-size: 25px;
    }

    .media li {
        display: inline-block;
        margin: 10px 15px;
    }
}

@media (max-width: 450px) {

    header {
        height: 100vh;
    }
    
    nav {
        height: 100%;
    }

    .menu-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 100%;
        position: absolute;
        right: 0;
        background: rgba(0,0,0,0.8);
        clip-path: circle(20px at 90% 4%);
        -webkit-clip-path: circle(20px at 90% 4%);
        transition: all 1s ease-out;
    }

   .open {
        clip-path: circle(800px at 90% 10%);
        -webkit-clip-path: circle(800px at 90% 10%);
    }

    .forScroll {
        overflow: hidden;
    }

    .firstLineChange{
        transform: rotate(45deg) translate(6px, 6px);
    }

    .secondLineChange{
        visibility: hidden;
    }

    .thirdLineChange{
        transform: rotate(-45deg) translate(4px, -7px);
    }

    .burger-icon {
        display: block;
    }

    h1 {
        font-size: 32px;
    }

    .banner-content {
        width: 100%;
    }

    .banner-content p {
        font-size: 19px;
        padding: 20px 0px;
    }

    .media {
        font-size: 20px;
    }

    .media li {
        display: inline-block;
        margin: 10px 15px;
    }

    .arrow {
        display: none;
    }

    /*Education*/
    .row {
        flex-direction: column;
    }
    .left-content {
        width: 100% !important;
        text-align: center;
        margin-bottom: 70px;
    }
    .right-content {
        width: 100% !important;
        text-align: center;
    }
    .contact {
        flex-direction: column;
    }
    .contact div {
        width: 100%;
    }

    .row-item p:nth-child(3) {
        padding: 0 2%;
    }

    /*works*/

    .work-products {
        width: 100%;
    }

    /*unde*/

    .unde .row .left-content img {
        display: none;
    }

    .unde .row .left-content h4 {
        display: block;
        letter-spacing: 2px;
    }

    .unde .row .right-content {    
        padding: 0 3%;
    }

    .unde .row .right-content p{
        text-align: center;
    }

    .testimonials {
        text-align: center;
    }

    .testimonials .row .left-content img {
        display: none;
    }

    .testimonials .row .left-content h4 {
        display: block;
        letter-spacing: 2px;
    }

    .testimonials .row .right-content {    
        padding: 0 3%;
    }

    .testimonials .row .right-content p span {
        display: block;
        margin-top: 30px;
    }

    .contactUs .row .left-content img {
        display: none;
    }

    .contactUs .row .left-content h4 {
        color: #fff;
        display: block;
        letter-spacing: 2px;
    }

    form {
        width: 100%;
    }

    form div {
        flex-direction: column;
    }

    input, textarea {
        width: 100%
    }

    button {
        margin-left: 0
    }

    aside {
        width: 100%;
    }

    .social-media {
        width: 100%;
    }
}